@model SayHelloApp.Models.InputName;
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="NewName" method="post" class="mx-auto my-5">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>

    <div class="row">
        <div class="col-11">
            <input class="form-control" asp-for="Name" type="text" placeholder="Name">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary">Enter</button>
        </div>
    </div>
</form>


@if (Model.Name is not null)
{
    <h1 class="text-center">Hello, @Model.Name</h1>
}


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
